<section class="container about-section">
    <article class="about-section__title">
        <h1 class="title">About Us</h1>
        <p class="sub-title">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit.
        </p>
    </article>
    <div class="about-section-content">
        <figure class="about-section-content__image">
            <img src="../assets/images/about-1.png" alt="About image">
        </figure>
        <div class="about-feature">
            <p class="about-feature__name">Modern Machinery</p>
            <ul class="about-feature-content">
                <li class="about-feature-content__item">
                    <img src="../assets/icons/Coffee.svg" alt="icon coffee">
                    <p>Brew strength: Some coffee machines allow you to adjust
                        the brew strength to make your coffee weaker or
                        stronger, depending on your preferences.</p>
                </li>
                <li class="about-feature-content__item">
                    <img src="../assets/icons/Coffee.svg" alt="icon coffee">
                    <p>Milk frother: A built-in milk frother is a great feature
                        for those who enjoy cappuccinos, lattes, or other
                        milk-based drinks.</p>
                </li>
                <li class="about-feature-content__item">
                    <img src="../assets/icons/Coffee.svg" alt="icon coffee">
                    <p>Water filter: A coffee machine with a built-in water
                        filter can improve the taste of your coffee and prolong
                        the lifespan of your machine by preventing mineral
                        buildup.</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="about-section-content">
        <div class="about-feature">
            <p class="about-feature__name">Space of coffee shop</p>
            <ul class="about-feature-content">
                <li class="about-feature-content__item">
                    <img src="../assets/icons/Coffee.svg" alt="icon coffee">
                    <p>A coffee shop is a social hub and a place to relax,
                        offering an inviting and comfortable space that
                        encourages conversation.</p>
                </li>
                <li class="about-feature-content__item">
                    <img src="../assets/icons/Coffee.svg" alt="icon coffee">
                    <p>The design should be functional with soft lighting,
                        comfortable seating, and natural materials.</p>
                </li>
                <li class="about-feature-content__item">
                    <img src="../assets/icons/Coffee.svg" alt="icon coffee">
                    <p>Quality coffee is key, made from freshly roasted beans by
                        skilled baristas who provide excellent customer service.</p>
                </li>
            </ul>
        </div>
        <figure class="about-section-content__image">
            <img src="../assets/images/about-2.png" alt="About image">
        </figure>
    </div>
</section>