<section class="container hero-section">
    <article class="hero-section-content">
        <h1 class="hero-section-content__title">Hero Title Example</h1>
        <h2 class="hero-section-content__description">Hero Description Example</h2>
        <p class="hero-section-content__text">Amet minim mollit non deserunt
            ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.</p>
        <button class="hero-section-content__btn">
            See more
        </button>
    </article>
    <div class="hero-section-media">
        <div class="hero-section-media__circle">
            <figure class="media-circle__image">
                <img src="../assets/images/Bg.png" alt="Coffee banner">
            </figure>
            <figure class="media-circle__sale">
                <img src="../assets/icons/Sale.svg" alt="Sale icon">
            </figure>
        </div>
    </div>
</section>